/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  color: var(--surface-color);
  padding: 1rem;
}

.logo {
  margin: 0;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: var(--surface-color);
  transition: color 0.3s ease;
  cursor: pointer;
}

.nav-links li a:hover,
.nav-links li a.active {
  color: var(--primary-color);
}